@media (max-width: 1200px) {

    /*________________________header___________________________*/
    .header__links {
        display: none;
    }

    /*________________________hero___________________________*/

    .hero__content {
        padding: 185px 0 0 0;
    }

    .hero__img {
        transform: scale(1.3) translate(6%, 1%);
    }

    /*________________________we___________________________*/
    .we__name {
        margin-top: 0;
    }

    /*________________________almanacs_____________________*/
    .almanacs__name {
        font-size: 28px;
        line-height: 32px;
    }

    .almanacs__top {
        font-size: 14px;
        line-height: 20px;
    }

    .almanacs__bottom {
        font-size: 14px;
        line-height: 20px;
    }

    /*_____________________________________write___________________________________________*/
    .write__planet {
        display: none;
    }
}

@media (max-width: 991px) {
    .container {
        padding-right: 45px;
        padding-left: 50px;
    }

    /*________________________header___________________________*/

    .header {
        height: 80px;
    }

    .header__logo {
        font-size: 17px;
        line-height: 24px;
    }

    .header__content {
        padding-top: 15px;
    }

    .header__burger-btn {
        display: block;
    }

    .menu__list {
        display: block;
    }

    .menu__link {
        color: white;
        font-size: 21px;
        display: block;
        padding: 10px 0;
    }

    .nav {
        position: absolute;
        display: none;
        right: 20px;
        top: 73px;
        width: 200px;
        height: 198px;
        background-color: var(--white);
        border-radius: 4px;
        padding: 15px 20px 16px 20px;
        transition: opacity .5s;
        z-index: 4;
    }

    .nav__list {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 4px;
    }

    .nav__item {
        display: flex;
        border-bottom: 1px solid rgba(31, 41, 55, 0.20);
        padding-bottom: 5px;
    }

    .nav__item:last-child {
        border-bottom: 1px solid rgba(31, 41, 55, 0.70);
    }

    .nav__link {
        color: #1F2937;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
    }

    .header.open .nav {
        display: block;
    }

    /*________________________hero___________________________*/
    .hero {
        min-height: 939px;
    }

    .hero__content {
        flex-direction: column-reverse;
        text-align: center;
        padding: 0;
        margin-right: -10px;
        margin-bottom: -32px;
    }

    .hero__block {
        margin-top: 35px;
        padding: 30px 30px 30px 43px;
        transform: translateX(0);
        gap: 10px
    }

    .hero__title {
        display: block;
        text-align: start;
    }

    .hero__text {
        text-align: start;
    }

    .hero__img {
        transform: scale(1) translate(0%, -18%);
    }

    .hero__moon {
        transform: translate(-50%, 402%);
    }

    .hero__earth {
        height: 300px;
        width: 300px;
        background-size: cover;
        transform: translate(123%, -23%);
    }

    .hero__link {
        padding: 16px 32px;
        margin-top: 13px;
    }

    /*________________________we___________________________*/
    .we {
        padding: 71px 0 0 0;
    }

    .we__container {
        padding-left: 36px;
        padding-right: 36px;
    }

    .we__block {
        display: block;
    }

    .we__name {
        font-size: 30px;
        line-height: 32px;
        margin-bottom: 15px;
    }

    .we__text {
        font-size: 14px;
        line-height: 20px;
    }

    .we__text--desktop {
        display: none;
    }

    .we__text--tablet {
        display: block;
    }

    .we__btn {
        margin-top: -4px;
        padding: 15px 33px;
        font-size: 15.5px;
        margin-bottom: 36px;
    }

    .charter__content {
        max-width: 769px;
    }

    .charter__name {
        margin: 18px 27px 28px 27px
    }

    /*________________________almanacs_____________________*/
    .almanacs__container {
        margin-top: 2px;
        padding-top: 60px;
        padding-right: 43px;
        padding-left: 44px
    }

    .almanacs__name {
        font-size: 31px;
        margin-bottom: 26px;
    }

    .almanacs__name--tablet {
        display: block;
    }

    .almanacs__name--desktop {
        display: none;
    }

    .almanacs__flex {
        gap: 14px;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .almanacs__picture {
        width: auto;
        padding: 0;
    }

    .almanacs__btn {
        left: 7%;
        bottom: 11%;
        font-size: 14.5px;
        padding: 16px 35px;
    }

    .almanacs__block {
        order: -1;
        padding: 23px 25px;
        margin-bottom: 9px;
    }

    .almanacs__top::after {
        bottom: 9%;
    }

    .alm__container {
        gap: 10px;
    }

    .alm__btn {
        max-width: 360px;
    }

    .alm__content {
        max-width: 770px;
        max-height: 474px;
    }

    .alm__name {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 20px;
    }

    .alm__text {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 16px;
    }

    .alm__pps {
        margin-bottom: 36px;
    }

    .alm__span {
        font-size: 14px;
        line-height: 20px;
    }

    .alm__btn {
        font-size: 14px;
        padding: 16px 36px;
    }

    /*_____________________________________write___________________________________________*/
    .write__container {
        margin-top: 74px;
    }

    .write__block {
        margin: 0 -10px 0 19px;
    }

    .write__row {
        align-self: center;
    }

    .write__surname {
        font-size: 29px;
        line-height: 32px;
    }

    .write__name {
        font-size: 29.5px;
        line-height: 32px;
    }

    .write__excerpt {
        font-size: 14px;
        line-height: 20px;
    }

    .write__excerpt::before {
        left: -5%;
    }

    .write__link {
        font-size: 14px;
        line-height: 20px;
    }

    /*__________________________________managers___________________________*/
    .managers {
        margin-top: 89px;
        padding-bottom: 39px;
    }

    .managers__container {
        padding-left: 73px;
        padding-right: 62px;
    }

    .managers__name {
        font-size: 30px;
        line-height: 32px;
        margin-bottom: 44px;
    }

    .managers__surname {
        margin-bottom: 5px;
    }

    .managers__text {
        max-width: 287px;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 32px;
    }

    /*______________________________________footer____________________________________*/
    .footer {
        padding-top: 36px;
    }

    .footer__container {
        padding-right: 36px;
        padding-left: 36px;
        margin-bottom: 36px;
    }

    .footer__name {
        font-size: 17px;
        line-height: 26px;
        margin-bottom: 12px;
        max-width: 238px;
    }

    .footer__text {
        font-size: 12px;
        line-height: 18px;
        max-width: 238px;
    }

    .footer__list {
        gap: 9px;
        max-width: 120px;
        transform: translateX(16%);
    }

    .footer__link {
        font-size: 12px;
        line-height: 18px;
    }

    .footer__we {
        max-width: 135px;
        margin-bottom: 12px;
        font-size: 12px;
        line-height: 18px;
    }

    .footer__icon svg {
        width: 32px;
        height: 32px;
    }

    .pps {
        padding-top: 12px;
        padding-bottom: 22px;
    }

    .pps__container {
        flex-direction: column;
        gap: 16px;
        padding-left: 34px;
        padding-right: 16px;
    }

    .pps__creators {
        gap: 30px;
    }

    .pps__text {
        font-size: 12px;
        line-height: 18px
    }

}

@media (max-width: 700px) {

    /*________________________almanacs___________________________*/
    .alm__content {
        max-width: 362px;
        max-height: 536px;
        border-radius: 8px;
        padding: 16px 16px 0 16px;
    }

    .alm__close {
        top: 16px;
        right: 16px;
    }

    .alm__container {
        flex-direction: column;
        margin-top: 30px;
    }

    .alm__block {
        max-width: 256px;
        align-self: center;
    }

    .alm__name {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 14px;
    }

    .alm__text {
        font-size: 12px;
        line-height: 18px;
    }

    .alm__pps {
        margin-bottom: 0;
    }

    .alm__span {
        font-size: 12px;
        line-height: 18px;
    }

    .alm__btn {
        position: absolute;
        left: 50%;
        bottom: 8%;
        max-width: 256px;
        width: 100%;
        padding: 12px 24px;
        transform: translate(-50%, 5%);
    }

    .alm__img {
        max-width: 256px;
    }

    .alm__svg {
        right: 13%;
        bottom: 3%;
    }

    .alm__info {
        font-size: 10px;
        line-height: 12px;
        padding: 5px;
        right: 25%;

    }
}

@media (max-width: 576px) {
    .container {
        padding-left: 33px;
        padding-right: 17px;
    }

    /*________________________header___________________________*/
    .header {
        height: 64px;
    }

    .header__content {
        margin-top: -2px;
    }

    .header__logo {
        font-size: 12.7px;
        line-height: 18px;
    }

    .header__burger-btn span {
        width: 24px;
    }

    /*________________________hero___________________________*/
    .hero {
        min-height: 656px;
    }

    .hero__content {
        margin-right: -3px;
    }

    .hero__block {
        margin-top: 7px;
        padding: 26px 16px 32px 16px;
        gap: 7px;
    }

    .hero__title {
        text-align: center;
        font-size: 25.5px;
        line-height: 30px;
    }

    .hero__text {
        text-align: center;
        font-size: 12px;
        line-height: 18px;
    }

    .hero__link {
        font-size: 12px;
        text-align: center;
        width: 100%;
        padding: 12px 0;
        margin-top: 9px;
    }

    .hero__img {
        transform: scale(1.12) translate(0%, -13%);
    }

    .hero__moon {
        display: none;
    }

    .hero__earth {
        display: none;
    }

    /*________________________we___________________________*/
    .we {
        padding: 32px 0;
    }

    .we__container {
        padding-left: 18px;
        padding-right: 14px;
    }

    .we__name {
        font-size: 19.2px;
        line-height: 22px;
        margin-bottom: 12px;

    }

    .we__text {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 16px;
    }

    .we__btn {
        font-size: 12px;
        line-height: 16px;
        margin-top: -2px;
        padding: 11px 26px;
        margin-bottom: 28px;
    }

    .charter__content {
        max-width: 300px;
        padding: 12px 16px 10px 16px;
    }

    .charter__name {
        font-size: 14px;
        line-height: 18px;
        margin: 10px 11px 14px 11px;
    }

    .charter__text {
        font-size: 12px;
        line-height: 18px;
    }

    .slide__img {
        border-radius: 8px;
    }

    .present__buttons {
        margin-top: -25px;
    }

    .screen {
        padding: 0 11px 0 11px;
        border-radius: 0px 8px;
    }

    .screen svg {
        width: 18px;
        height: 18px;
    }

    .present__arrows {
        border-radius: 8px 0;
        padding-top: 1px;
    }

    .next {
        padding: 0 15px 0 14px;
    }

    .prev {
        padding: 0 20px 0 15px;
    }

    .prev::after {
        height: 12px;
        bottom: 15%;
    }

    .prev svg,
    .next svg {
        width: 12px;
        height: 12px;
    }

    /*________________________almanacs___________________________*/
    .almanacs__container {
        padding-left: 32px;
        padding-right: 28px;
        margin-top: 0;
        padding-top: 25px;
    }

    .almanacs__name {
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 12px;
    }

    .almanacs__block {
        padding: 8px 20px;
        margin-bottom: 15px;
    }

    .almanacs__top {
        font-size: 12px;
        line-height: 18px;
    }

    .almanacs__top::after {
        bottom: 6%;
    }

    .almanacs__bottom {
        font-size: 12px;
        line-height: 18px;
    }

    .almanacs__btn {
        left: 8%;
        bottom: 7.5%;
        font-size: 12px;
        padding: 12px 25px;
    }

    /*_____________________________________write___________________________________________*/
    .write__container {
        margin-top: 67px;
        gap: 30px;
        padding-left: 9px;
        padding-right: 10px;
    }

    .write__block {
        margin: 0 0 0 29px;
    }

    .write__surname {
        font-size: 19px;
        line-height: 22px;
        margin-bottom: 8px;
    }

    .write__name {
        font-size: 19px;
        line-height: 22px;
        margin-bottom: 16px;
    }

    .write__excerpt {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 16px;
    }

    .write__excerpt::before {
        height: 100%;
        left: -8%;
    }

    .write__excerpt::after {
        content: '..';
    }

    .write__link {
        font-size: 12px;
        line-height: 18px;
    }

    .write__none {
        display: none;
    }

    .write__img {
        margin-left: 5px;
    }

    /*__________________________________managers___________________________*/
    .managers {
        background-color: transparent;
        padding-top: 0;
        margin-top: 64px;
        padding-bottom: 32px;
    }

    .managers__container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .managers__img {
        margin-bottom: 12px;
    }

    .managers__name {
        font-size: 19px;
        line-height: 22px;
        margin-bottom: 24px;
    }

    .managers__surname {
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 6px;
    }

    .managers__text {
        font-size: 12px;
        line-height: 18px;
    }

    /*______________________________________footer____________________________________*/
    .footer__container {
        flex-direction: column;
        gap: 35px;
        padding-right: 18px;
        padding-left: 18px;
        margin-bottom: 34px;
    }

    .footer__name {
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 6px;
        max-width: 100%;
    }
    
    .footer__text {
        max-width: 100%;
    }

    .footer__list {
        gap: 4px;
        max-width: 120px;
        transform: translateX(0);
    }

    .footer__we {
        margin-bottom: 5px;
    }

    .pps {
        padding-top: 9px;
        padding-bottom: 16px;
    }

    .pps__container {
        flex-direction: column;
        gap: 14px;
        padding-left: 18px;
        padding-right: 16px;
    }

    .pps__creators {
        flex-direction: column;
        gap: 4px;
    }

    .pps__text {
        font-size: 12px;
        line-height: 18px
    }




}