@media (max-width: 1200px){
    .advantages__name {
        padding-right: 100px;
    }
}

@media (max-width: 991px) {
    /*header*/
    .nav__list {
        gap: 57px;
    }

    /*hero*/
    .title {
        font-size: 50px;
        margin-bottom: 16px;
    }

    .hero__content {
        margin: 130px 0 159px 0;
    }
    
    .hero__descr {
        margin-bottom: 86px;
    }

    .hero__img {
        width: 311.143px;
        height: 342.257px;
        flex-shrink: 0;
        margin-top: 117px;
    }

    /*advantages*/
    .advantages {
        padding-bottom: 65px;
    }

    .advantages__content {
        margin-bottom: 0;
    }

    .advantages__name {
        padding-right: 0;
    }

    .advantages__img {
        margin-top: 24px;
      }

    .advantages__image {
        width: 211px;
        height: 187px;
        flex-shrink: 0;
    }

    .advantages__item {
        padding-top: 115px;
        padding-left: 0;
        background-position: left 23px;
        padding-right: 30px;
    }

    /*teachers*/
    .teacher {
        padding-bottom: 49px;
    }

    .teacher__list {
        flex-wrap: wrap;
    }

    .teacher__name {
        margin-bottom: 24px;
    }

    .teacher__item:nth-child(-n+2) {
        margin-bottom: 24px;
    }

    /*courses*/
    .course__bloсk {
        height: 373px;
    }

    .course__item:nth-child(-n+2) {
        margin-bottom: 29px;
    }

    .course-item__watch1::before, .course-item__watch2::before, .course-item__watch3::before, .course-item__watch4::before {
        left: 68%; 
    }

    .course__link {
        width: 195px;
        padding: 20px 55px;
    }

}

@media (max-width: 767px) {
    /*header*/
    .header {
        height: 133px;
    }

    .header__content {
    flex-direction: column;
    align-items: center;
    }

    .nav__list {
        margin-top: 28px;
    }

    /*hero*/
    .hero__img {
        display: none;
    }

    .hero__content {
        margin: 77px 0 159px 0;
    }

    /*advantages*/
    .advantages {
        padding-bottom: 46px;
      }

    .advantages__img {
        margin-top: 0;
      }

    .advantages__image {
        width: 150px;
        height: 134px;
    }

    .advantages__list {
        margin-right: 0;
    }

    .advantages__list {
        gap: 5px;
    }

    /*teachers*/
    .teacher {
        padding-bottom: 73px;
    }

    /*courses*/
    .course__bloсk {
        height: 469px;
        padding: 25px 20px 30px 30px;
    }

    .course-item__watch1::before, .course-item__watch2::before, .course-item__watch3::before, .course-item__watch4::before {
        left: 56%; 
    }

    .course__name {
        line-height: 130%;
        margin-bottom: 10px;
    }

    .course__link {
        width: 180px;
        padding: 21px 48px;
    }
}

@media (max-width: 575px) {
    /*advantages*/
    .advantages {
        padding-bottom: 50px;
    }

    .advantages__img {
        display: none;
    }

    /*teachers*/
    .teacher__list {
        justify-content: center;
    }

    .teacher__item {
        width: 290px;
    }

    .teacher__item:not(:last-child) {
        margin-bottom: 30px;
    }

     /*courses*/
     .course-item__content {
        width: 290px;
        margin-left: auto;
        margin-right: auto;
     }

     .course__item:not(:last-child) {
        margin-bottom: 30px;
    }
}

@media (max-width: 500px) {
    .header {
        height: 118px;
        padding-top: 25px;
    }
    .nav__list {
        margin-top: 23px;
        padding: 0 6px;
        max-width: 300px; 
        overflow-x: auto;
        overflow-y: hidden;
        flex-wrap: nowrap;
        white-space: nowrap;
    }

    .nav__list {
        gap: 57px;
      }

    /*hero*/
    .hero__content {
        margin: 50px 0 70px 0;
    }

    .title {
        font-size: 30px;
        margin-bottom: 5px;
    }

    .descr {
        font-size: 16px;
        line-height: 130%;
    }

    .hero__descr {
        margin-bottom: 66px;
    }

    .link {
        padding: 20px 54px;
        font-size: 16px;
    }

    /*advantages*/
    .advantages__content {
        margin-top: 50px;
        margin-bottom: -4px;
    }

    .advantages__name {
        font-size: 20px;
        line-height: 130%;
        margin-bottom: 3px;
    }

    .advantages__descr {
        line-height: 150%;
    }

    .advantages__list {
        flex-direction: column;
        margin-top: 25px;
        gap: 30px;
    }

    .advantages__item { 
        background-position: left top;
        padding-left: 110px;
        padding-top: 3px;
        padding-right: 20px;
        height: 80px;
    }

    /*teachers*/
    .teacher {
        padding: 47px 0;
    }

    .teacher__name {
        font-size: 20px;
        margin-bottom: 27px;
    }

    .teacher__item {
        padding: 0;
    }

    .teacher__item:not(:last-child) {
        margin-bottom: 24px;
    }

    /*courses*/
    .course {
        padding: 45px 0 48px 0;
      }
    
    .course__title {
        font-size: 20px;
        margin-bottom: 28px
    }

    .course-item__watch1::before, .course-item__watch2::before, .course-item__watch3::before, .course-item__watch4::before {
        left: 63.5%; 
    }

    .course__bloсk {
        padding: 25px 30px 32px 30px;
    }

    .course__link {
        width: 195px;
        padding: 20px 55px;
    }

}