html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto-Regular"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto-Bold"), url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Muller";
  src: local("MullerRegular"), url("../fonts/MullerRegular.woff2") format("woff2"), url("../fonts/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.page {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: var(--white);
  min-width: 320px;
}

/* glob */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

:root {
  --white: #fff;
  --black: #000;
  --blue: #3F2AFF;
  --black-name: #2E2B44;
  --grey: #666;
  --black-section: #212133;
  --blue-active: #0c035f;
  --blue-hover: #897cfa;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  width: 100%;
}

.flex {
  display: flex;
}

/*header*/
.header {
  background-color: var(--blue);
  height: 80px;
  padding-top: 29px;
}

.header__content {
  justify-content: space-between;
}

.nav__list {
  gap: 56px;
}

.nav__link {
  color: var(--white);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  transition: color 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.nav__link:hover, .nav__link:focus {
  outline: 1px solid var(--white);
}

.nav__link:active {
  color: var(--blue-active);
  outline: none;
}

/*hero*/
.hero {
  background: radial-gradient(44.07% 44.07% at 67.78% 55.93%, #555681 0%, #212133 100%);
}

.hero__content {
  margin: 130px 0;
}

.title {
  margin: 0;
  color: var(--white);
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 100%;
}

.descr {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.hero__descr {
  color: var(--white);
  margin-bottom: 85px;
}

.link {
  border-radius: 20px;
  background: var(--blue);
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
  padding: 24px 75px;
}

.link:hover, .link:focus {
  background: var(--blue-hover);
}

.link:active {
  background: var(--blue-active);
}

.hero__img {
  margin: 15px 0 8px 0;
}

/*advantages*/
.advantages {
  padding-bottom: 80px;
}

.advantages__content {
  margin-top: 80px;
  margin-bottom: 23px;
}

.advantages__img {
  margin-top: 22px;
}

.advantages__name {
  margin: 0;
  color: var(--black-name);
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 17px;
  padding-right: 200px;
}

.advantages__descr {
  color: var(--grey);
  font-size: 16px;
}

.advantages__list {
  margin-left: 15px;
  margin-right: -15px;
}

.advantages__item {
  color: var(--grey);
  font-size: 16px;
  font-weight: 700;
  line-height: 116%;
  padding: 12px 0;
  padding-left: 110px;
  background-position: left center;
  background-size: 80px 80px;
  background-repeat: no-repeat;
}

.advantages__item--1 {
  background-image: url("../img/advantages-item-1.png");
}

.advantages__item--2 {
  background-image: url("../img/advantages-item-2.png");
}

.advantages__item--3 {
  background-image: url("../img/advantages-item-3.png");
}

/*teachers*/
.teacher {
  background-color: var(--black-section);
  padding: 74px 0;
}

.teacher__name {
  margin: 0;
  margin-left: 15px;
  color: var(--white);
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 23px;
}

.teacher__img {
  border-radius: 22px 22px 0px 0px;
  margin-bottom: 27px;
}

.teacher__human {
  margin: 0;
  color: var(--white);
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 6px;
}

.teacher__tekst {
  margin: 0;
  color: #85859B;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

/*courses*/
.course {
  padding: 75px 0 79px 0;
}

.course__title {
  margin: 0;
  color: var(--black-name);
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 23px;
}

.course__list {
  flex-wrap: wrap;
}

.course-item__content {
  border-radius: 20px;
  background: #EDF0F9;
  position: relative;
  z-index: 0;
}

.course__bloсk {
  height: 298px;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 27px 30px 32px 30px;
}

.course__item:nth-child(-n+2) {
  margin-bottom: 26px;
}

.course-item__content::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg clip-path='url(%23clip0_51_89)'%3E%3Cpath d='M11.99 2C6.47 2 2 6.48 2 12C2 17.52 6.47 22 11.99 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 11.99 2ZM12 20C7.58 20 4 16.42 4 12C4 7.58 7.58 4 12 4C16.42 4 20 7.58 20 12C20 16.42 16.42 20 12 20Z' fill='white'/%3E%3Cpath d='M12.5 7H11V13L16.25 16.15L17 14.92L12.5 12.25V7Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_51_89'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  background-repeat: no-repeat;
  
}

.course-item__watch1 {
  position: relative;
}

.course-item__watch1::before {
  position: absolute;
  z-index: 1;
  content: "60 часов";
  width: 100px;
  height: 24px;
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  left: 81.5%;
  top: 10px;
  right: 0;
  padding-left: 30px;
  padding-top: 4px;
}

.course-item__watch2::before, .course-item__watch3::before  {
  position: absolute;
  z-index: 1;
  content: "40 часов";
  width: 100px;
  height: 24px;
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  left: 81.5%;
  top: 10px;
  right: 0;
  padding-left: 30px;
  padding-top: 4px;
}

.course-item__watch4::before {
  position: absolute;
  z-index: 1;
  content: "80 часов";
  width: 100px;
  height: 24px;
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  left: 81.5%;
  top: 10px;
  right: 0;
  padding-left: 30px;
  padding-top: 4px;
}

.course__name {
  margin: 0;
  color: var(--black-name);
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 7px;
}

.course__tekst {
  margin: 0;
  color: var(--grey);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.course__link {
  width: 202px;
  margin-top: auto;
  padding: 21px 60px;
  font-size: 16px;
}

/*footer*/
.footer__top {
  height: 80px;
  background-color: var(--black-section);
}

.footer__icons {
  gap: 30px;
  justify-content: center;
  margin-top: 28px;
}

.footer__copy {
  color: var(--black-name);
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-top: 4px;
}

.footer__r {
  color: var(--blue);
}

.footer__link svg{
  fill: var(--white);

}

.footer__link:hover svg, .footer__link:focus svg {
  fill: var(--blue-hover);
}

.footer__link:active svg {
  fill: var(--blue-active);
}